body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 2rem;
  color: #fff;
}

/* Header */

.header {
  background-color: rgb(229, 96, 96);
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.header-images {
  width: 60%;
  transform: rotate(25deg);
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff;
}

/* Header Section*/

.btn-download {
  margin: 5% 3% 5% 0;
}

.fa-brands {
  margin-right: 5px;
}

.header-images {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 1;
}

/* Features */
.features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */

.testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
}

.testimonials p,
em {
  color: #fff;
  padding-left: 1.5rem;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */

.press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

#pricing h2 {
  color: black;
}

#pricing h3 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA SECTION */

#cta {
  text-align: center;
  padding-bottom: 5%;
}

#cta h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 5%;
}

/* COPYRIGHT */
footer {
  background-color: rgb(229, 96, 96);
  text-align: center;
  height: 180px;
  color: #fff;
}

footer p {
  margin-bottom: -10px;
  color: #fff;
}

.center {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-center {
  background-color: rgb(229, 96, 96);
  margin-top: -3%;
}

.icon-center a {
  color: #fff;
}

/* Responsive Breakpoints */

@media screen and (max-width: 1300px) {
  .carousel-item h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 990px) {
  #title {
    text-align: center;
  }

  .header-images {
    width: 50%;
    position: static;
    transform: rotate(0deg);
    text-align: center;
  }
}

@media (min-width: 990px) and (max-width: 1152px) {
  .header-images {
    width: 30%;
    padding-left: 5%;
    transform: rotate(0deg);
  }
}
